body{
	background-color: rgb(150, 157, 221);
}
table{
	border: 5px solid rgb(54, 207, 161);
	display: inline-block;
}
input[type="button"]{
	font-size: 70px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(109, 70, 109);
	width: 100%;
}
input[type="text"]{
	font-size: 30px;
	color: rgb(100, 173, 81);
}
h1{
	text-align: center;
	color: brown;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
	text-decoration:underline
}
div{
	text-align: center;
}

